<!DOCTYPE html>
<html lang="en" class="min-h-full">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="csrf-token" content={get_csrf_token()} />
    <.live_title>
      <%= assigns[:page_title] || "Pixelgame" %>
    </.live_title>
    <link rel="icon" href={~p"/favicon.svg"} />
    <link phx-track-static rel="stylesheet" href={~p"/assets/app.css"} />
    <script defer phx-track-static type="text/javascript" src={~p"/assets/app.js"}>
    </script>
    <script
      defer
      src="https://cdn.jsdelivr.net/npm/@tsparticles/confetti@3.0.3/tsparticles.confetti.bundle.min.js"
    >
    </script>
  </head>
  <body class="min-h-full bg-gradient-to-tr from-gray-900 via-zinc-900 to-stone-900 text-white">
    <%= @inner_content %>
  </body>
</html>
